In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df=pd.read_csv('/Users/vallirajasekar/Desktop/Insurance_Charges_Calculation/Data/insurance_dataset (1).csv')

In [3]:
df.head()

,age,gender,bmi,children,smoker,region,medical_history,family_medical_history,exercise_frequency,occupation,coverage_level,charges
0,46,male,21.45,5,yes,southeast,Diabetes,NaN,Never,Blue collar,Premium,20460.307669
1,25,female,25.38,2,yes,northwest,Diabetes,High blood pressure,Occasionally,White collar,Premium,20390.899218
2,38,male,44.88,2,yes,southwest,NaN,High blood pressure,Occasionally,Blue collar,Premium,20204.476302
3,25,male,19.89,0,no,northwest,NaN,Diabetes,Rarely,White collar,Standard,11789.029843
4,49,male,38.21,3,yes,northwest,Diabetes,High blood pressure,Rarely,White collar,Standard,19268.309838

In [4]:
df.shape

(1000000, 12)

In [5]:
df['medical_history'].value_counts()

medical_history
Heart disease          250121
High blood pressure    249782
Diabetes               249335
Name: count, dtype: int64

In [6]:
df['family_medical_history'].value_counts()

family_medical_history
Heart disease          250035
High blood pressure    249824
Diabetes               249737
Name: count, dtype: int64

In [7]:
df.isnull().sum()/len(df)*100

age                        0.0000
gender                     0.0000
bmi                        0.0000
children                   0.0000
smoker                     0.0000
region                     0.0000
medical_history           25.0762
family_medical_history    25.0404
exercise_frequency         0.0000
occupation                 0.0000
coverage_level             0.0000
charges                    0.0000
dtype: float64

In [8]:
from sklearn.impute import KNNImputer

In [9]:
for col in df.columns[df.dtypes == 'object']:
    print(col)

gender
smoker
region
medical_history
family_medical_history
exercise_frequency
occupation
coverage_level

In [10]:
df_1=pd.get_dummies(df, columns=['gender','smoker','region','exercise_frequency','occupation','coverage_level'],dtype=int)

In [11]:
df_1.shape

(1000000, 25)

In [12]:
df_1.drop('family_medical_history',axis=1,inplace=True)

In [13]:
df_1_test=df_1[df_1['medical_history'].isnull()]

In [14]:
df_1_test.shape

(250762, 24)

In [15]:
X_test=df_1_test.drop('medical_history',axis=1)

In [16]:
X_test.shape

(250762, 23)

In [17]:
df_1_train=df_1.dropna(subset=['medical_history'])

In [18]:
df_1_train.shape

(749238, 24)

In [19]:
X_train=df_1_train.drop('medical_history',axis=1)

In [20]:
X_train

,age,bmi,children,charges,gender_female,gender_male,smoker_no,smoker_yes,region_northeast,region_northwest,...,exercise_frequency_Never,exercise_frequency_Occasionally,exercise_frequency_Rarely,occupation_Blue collar,occupation_Student,occupation_Unemployed,occupation_White collar,coverage_level_Basic,coverage_level_Premium,coverage_level_Standard
0,46,21.45,5,20460.307669,0,1,0,1,0,0,...,1,0,0,1,0,0,0,0,1,0
1,25,25.38,2,20390.899218,1,0,0,1,0,1,...,0,1,0,0,0,0,1,0,1,0
4,49,38.21,3,19268.309838,0,1,0,1,0,1,...,0,0,1,0,0,0,1,0,0,1
6,64,20.12,2,9563.655011,1,0,1,0,1,0,...,1,0,0,1,0,0,0,1,0,0
7,53,30.51,4,15845.293730,0,1,1,0,0,0,...,0,0,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999992,42,25.92,0,9705.965254,0,1,1,0,0,1,...,1,0,0,1,0,0,0,1,0,0
999995,59,46.67,2,11584.134900,0,1,1,0,1,0,...,0,0,0,0,1,0,0,1,0,0
999997,39,39.84,0,22076.632856,0,1,0,1,1,0,...,0,0,1,1,0,0,0,0,0,1
999998,37,45.06,4,20297.618728,1,0,0,1,1,0,...,0,1,0,0,0,1,0,0,1,0
999999,41,30.02,2,23429.725030,0,1,0,1,1,0,...,0,1,0,1,0,0,0,0,0,1

In [21]:
y_train=df_1_train['medical_history'].map({'Diabetes':3,'High blood pressure':2,'Heart disease':1})

In [22]:
X_test=df_1_test.drop('medical_history',axis=1)

In [23]:
print(f'The shape of {X_train.shape},{y_train.shape},{X_test.shape}')

The shape of (749238, 23),(749238,),(250762, 23)

In [24]:
from sklearn.ensemble import RandomForestClassifier

In [25]:
model=RandomForestClassifier()

In [26]:
model.fit(X_train,y_train)

RandomForestClassifier()

In [27]:
model.score(X_train,y_train)

0.9999986653106222

In [28]:
y_pred=model.predict(X_test)

In [29]:
y_pred

array([2, 2, 2, ..., 2, 2, 2])

In [30]:
y_pred=pd.DataFrame(y_pred)

In [31]:
y_pred.shape

(250762, 1)

In [32]:
y_pred.columns

RangeIndex(start=0, stop=1, step=1)

In [33]:
y_pred.rename(columns={0: 'medical_history'}, inplace=True)

In [34]:
y_pred.isnull().sum()

medical_history    0
dtype: int64

In [35]:
y_pred.reset_index()

         index  medical_history
0            0                2
1            1                2
2            2                2
3            3                2
4            4                3
...        ...              ...
250757  250757                3
250758  250758                2
250759  250759                2
250760  250760                2
250761  250761                2

[250762 rows x 2 columns]

In [36]:
X_test.shape

(250762, 23)

In [37]:
X_test.reset_index(inplace=True)

In [38]:
X_test['medical_history']=y_pred

In [39]:
X_test.shape

(250762, 25)

In [40]:
X_test

,index,age,bmi,children,charges,gender_female,gender_male,smoker_no,smoker_yes,region_northeast,...,exercise_frequency_Occasionally,exercise_frequency_Rarely,occupation_Blue collar,occupation_Student,occupation_Unemployed,occupation_White collar,coverage_level_Basic,coverage_level_Premium,coverage_level_Standard,medical_history
0,2,38,44.88,2,20204.476302,0,1,0,1,0,...,1,0,1,0,0,0,0,1,0,2
1,3,25,19.89,0,11789.029843,0,1,1,0,0,...,0,1,0,0,0,1,0,0,1,2
2,5,55,36.41,0,11896.836613,1,0,0,1,1,...,0,0,0,1,0,0,1,0,0,2
3,8,40,44.93,2,14036.544129,1,0,0,1,1,...,1,0,0,0,1,0,1,0,0,2
4,10,21,42.08,1,18996.131561,0,1,0,1,0,...,0,1,0,1,0,0,0,1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250757,999989,33,48.12,5,12053.800190,1,0,1,0,1,...,0,1,0,0,1,0,0,0,1,3
250758,999990,61,29.31,4,18549.906101,1,0,0,1,1,...,0,1,0,0,1,0,0,1,0,2
250759,999993,42,47.14,1,11158.964400,1,0,1,0,0,...,1,0,0,0,0,1,1,0,0,2
250760,999994,18,27.20,5,19078.724090,0,1,0,1,1,...,0,1,0,0,0,1,0,1,0,2
250761,999996,33,36.83,2,9834.871456,0,1,1,0,1,...,0,0,0,0,1,0,1,0,0,2

In [41]:
X_train.shape

(749238, 23)

In [42]:
y_train.shape

(749238,)

In [43]:
X_train['medical_history']=y_train

In [44]:
X_train.shape

(749238, 24)

In [45]:
X_test.isnull().sum()

index                              0
age                                0
bmi                                0
children                           0
charges                            0
gender_female                      0
gender_male                        0
smoker_no                          0
smoker_yes                         0
region_northeast                   0
region_northwest                   0
region_southeast                   0
region_southwest                   0
exercise_frequency_Frequently      0
exercise_frequency_Never           0
exercise_frequency_Occasionally    0
exercise_frequency_Rarely          0
occupation_Blue collar             0
occupation_Student                 0
occupation_Unemployed              0
occupation_White collar            0
coverage_level_Basic               0
coverage_level_Premium             0
coverage_level_Standard            0
medical_history                    0
dtype: int64

In [46]:
df_new=pd.concat([X_train, X_test], ignore_index=True)

In [47]:
df_new.isnull().sum()

age                                     0
bmi                                     0
children                                0
charges                                 0
gender_female                           0
gender_male                             0
smoker_no                               0
smoker_yes                              0
region_northeast                        0
region_northwest                        0
region_southeast                        0
region_southwest                        0
exercise_frequency_Frequently           0
exercise_frequency_Never                0
exercise_frequency_Occasionally         0
exercise_frequency_Rarely               0
occupation_Blue collar                  0
occupation_Student                      0
occupation_Unemployed                   0
occupation_White collar                 0
coverage_level_Basic                    0
coverage_level_Premium                  0
coverage_level_Standard                 0
medical_history                         0
index                              749238
dtype: int64

In [48]:
df_new.shape

(1000000, 25)

In [49]:
df_new.drop('index',axis=1,inplace=True)

In [50]:
df_new

,age,bmi,children,charges,gender_female,gender_male,smoker_no,smoker_yes,region_northeast,region_northwest,...,exercise_frequency_Occasionally,exercise_frequency_Rarely,occupation_Blue collar,occupation_Student,occupation_Unemployed,occupation_White collar,coverage_level_Basic,coverage_level_Premium,coverage_level_Standard,medical_history
0,46,21.45,5,20460.307669,0,1,0,1,0,0,...,0,0,1,0,0,0,0,1,0,3
1,25,25.38,2,20390.899218,1,0,0,1,0,1,...,1,0,0,0,0,1,0,1,0,3
2,49,38.21,3,19268.309838,0,1,0,1,0,1,...,0,1,0,0,0,1,0,0,1,3
3,64,20.12,2,9563.655011,1,0,1,0,1,0,...,0,0,1,0,0,0,1,0,0,2
4,53,30.51,4,15845.293730,0,1,1,0,0,0,...,0,1,0,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,33,48.12,5,12053.800190,1,0,1,0,1,0,...,0,1,0,0,1,0,0,0,1,3
999996,61,29.31,4,18549.906101,1,0,0,1,1,0,...,0,1,0,0,1,0,0,1,0,2
999997,42,47.14,1,11158.964400,1,0,1,0,0,0,...,1,0,0,0,0,1,1,0,0,2
999998,18,27.20,5,19078.724090,0,1,0,1,1,0,...,0,1,0,0,0,1,0,1,0,2
999999,33,36.83,2,9834.871456,0,1,1,0,1,0,...,0,0,0,0,1,0,1,0,0,2

In [51]:
df['family_medical_history']

0                         NaN
1         High blood pressure
2         High blood pressure
3                    Diabetes
4         High blood pressure
                 ...
999995                    NaN
999996    High blood pressure
999997    High blood pressure
999998               Diabetes
999999          Heart disease
Name: family_medical_history, Length: 1000000, dtype: object

In [52]:
df_new['family_medical_history']=df['family_medical_history']

In [53]:
df_new.shape

(1000000, 25)

In [54]:
df_new

,age,bmi,children,charges,gender_female,gender_male,smoker_no,smoker_yes,region_northeast,region_northwest,...,exercise_frequency_Rarely,occupation_Blue collar,occupation_Student,occupation_Unemployed,occupation_White collar,coverage_level_Basic,coverage_level_Premium,coverage_level_Standard,medical_history,family_medical_history
0,46,21.45,5,20460.307669,0,1,0,1,0,0,...,0,1,0,0,0,0,1,0,3,NaN
1,25,25.38,2,20390.899218,1,0,0,1,0,1,...,0,0,0,0,1,0,1,0,3,High blood pressure
2,49,38.21,3,19268.309838,0,1,0,1,0,1,...,1,0,0,0,1,0,0,1,3,High blood pressure
3,64,20.12,2,9563.655011,1,0,1,0,1,0,...,0,1,0,0,0,1,0,0,2,Diabetes
4,53,30.51,4,15845.293730,0,1,1,0,0,0,...,1,0,1,0,0,0,0,1,1,High blood pressure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,33,48.12,5,12053.800190,1,0,1,0,1,0,...,1,0,0,1,0,0,0,1,3,NaN
999996,61,29.31,4,18549.906101,1,0,0,1,1,0,...,1,0,0,1,0,0,1,0,2,High blood pressure
999997,42,47.14,1,11158.964400,1,0,1,0,0,0,...,0,0,0,0,1,1,0,0,2,High blood pressure
999998,18,27.20,5,19078.724090,0,1,0,1,1,0,...,1,0,0,0,1,0,1,0,2,Diabetes
999999,33,36.83,2,9834.871456,0,1,1,0,1,0,...,0,0,0,1,0,1,0,0,2,Heart disease

In [55]:
df_1_test=df_new[df_new['family_medical_history'].isnull()]

In [56]:
X_test=df_1_test.iloc[:,:24]

In [57]:
df_1_train=df_new.dropna()

In [58]:
X_train=df_1_train.iloc[:,:24]

In [59]:
X_train

,age,bmi,children,charges,gender_female,gender_male,smoker_no,smoker_yes,region_northeast,region_northwest,...,exercise_frequency_Occasionally,exercise_frequency_Rarely,occupation_Blue collar,occupation_Student,occupation_Unemployed,occupation_White collar,coverage_level_Basic,coverage_level_Premium,coverage_level_Standard,medical_history
1,25,25.38,2,20390.899218,1,0,0,1,0,1,...,1,0,0,0,0,1,0,1,0,3
2,49,38.21,3,19268.309838,0,1,0,1,0,1,...,0,1,0,0,0,1,0,0,1,3
3,64,20.12,2,9563.655011,1,0,1,0,1,0,...,0,0,1,0,0,0,1,0,0,2
4,53,30.51,4,15845.293730,0,1,1,0,0,0,...,0,1,0,1,0,0,0,0,1,1
6,45,39.68,1,14892.145930,1,0,1,0,0,1,...,1,0,1,0,0,0,0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999993,35,40.15,1,16085.893159,0,1,0,1,0,0,...,1,0,0,0,0,1,0,0,1,2
999996,61,29.31,4,18549.906101,1,0,0,1,1,0,...,0,1,0,0,1,0,0,1,0,2
999997,42,47.14,1,11158.964400,1,0,1,0,0,0,...,1,0,0,0,0,1,1,0,0,2
999998,18,27.20,5,19078.724090,0,1,0,1,1,0,...,0,1,0,0,0,1,0,1,0,2
999999,33,36.83,2,9834.871456,0,1,1,0,1,0,...,0,0,0,0,1,0,1,0,0,2

In [60]:
y_train=df_1_train['family_medical_history'].map({'Diabetes':3,'High blood pressure':2,'Heart disease':1})

In [61]:
print(f'The shape of {X_train.shape},{X_test.shape},{y_train.shape}')

The shape of (749596, 24),(250404, 24),(749596,)

In [62]:
model=RandomForestClassifier()

In [63]:
model.fit(X_train,y_train)

RandomForestClassifier()

In [64]:
model.score(X_train,y_train)

1.0

In [65]:
y_pred=model.predict(X_test)

In [66]:
y_pred=pd.DataFrame(y_pred)

In [67]:
y_pred.rename(columns={0: 'family_medical_history'}, inplace=True)

In [68]:
X_test.reset_index(inplace=True)

In [69]:
X_test.drop('index',inplace=True,axis=1)

In [70]:
X_test['family_medical_history']=y_pred

In [71]:
X_test.shape

(250404, 25)

In [72]:
y_train

1         2
2         2
3         3
4         2
6         2
         ..
999993    3
999996    2
999997    2
999998    3
999999    1
Name: family_medical_history, Length: 749596, dtype: int64

In [73]:
X_train

,age,bmi,children,charges,gender_female,gender_male,smoker_no,smoker_yes,region_northeast,region_northwest,...,exercise_frequency_Occasionally,exercise_frequency_Rarely,occupation_Blue collar,occupation_Student,occupation_Unemployed,occupation_White collar,coverage_level_Basic,coverage_level_Premium,coverage_level_Standard,medical_history
1,25,25.38,2,20390.899218,1,0,0,1,0,1,...,1,0,0,0,0,1,0,1,0,3
2,49,38.21,3,19268.309838,0,1,0,1,0,1,...,0,1,0,0,0,1,0,0,1,3
3,64,20.12,2,9563.655011,1,0,1,0,1,0,...,0,0,1,0,0,0,1,0,0,2
4,53,30.51,4,15845.293730,0,1,1,0,0,0,...,0,1,0,1,0,0,0,0,1,1
6,45,39.68,1,14892.145930,1,0,1,0,0,1,...,1,0,1,0,0,0,0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999993,35,40.15,1,16085.893159,0,1,0,1,0,0,...,1,0,0,0,0,1,0,0,1,2
999996,61,29.31,4,18549.906101,1,0,0,1,1,0,...,0,1,0,0,1,0,0,1,0,2
999997,42,47.14,1,11158.964400,1,0,1,0,0,0,...,1,0,0,0,0,1,1,0,0,2
999998,18,27.20,5,19078.724090,0,1,0,1,1,0,...,0,1,0,0,0,1,0,1,0,2
999999,33,36.83,2,9834.871456,0,1,1,0,1,0,...,0,0,0,0,1,0,1,0,0,2

In [74]:
X_train['family_medical_history']=y_train

In [75]:
X_train

,age,bmi,children,charges,gender_female,gender_male,smoker_no,smoker_yes,region_northeast,region_northwest,...,exercise_frequency_Rarely,occupation_Blue collar,occupation_Student,occupation_Unemployed,occupation_White collar,coverage_level_Basic,coverage_level_Premium,coverage_level_Standard,medical_history,family_medical_history
1,25,25.38,2,20390.899218,1,0,0,1,0,1,...,0,0,0,0,1,0,1,0,3,2
2,49,38.21,3,19268.309838,0,1,0,1,0,1,...,1,0,0,0,1,0,0,1,3,2
3,64,20.12,2,9563.655011,1,0,1,0,1,0,...,0,1,0,0,0,1,0,0,2,3
4,53,30.51,4,15845.293730,0,1,1,0,0,0,...,1,0,1,0,0,0,0,1,1,2
6,45,39.68,1,14892.145930,1,0,1,0,0,1,...,0,1,0,0,0,0,1,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999993,35,40.15,1,16085.893159,0,1,0,1,0,0,...,0,0,0,0,1,0,0,1,2,3
999996,61,29.31,4,18549.906101,1,0,0,1,1,0,...,1,0,0,1,0,0,1,0,2,2
999997,42,47.14,1,11158.964400,1,0,1,0,0,0,...,0,0,0,0,1,1,0,0,2,2
999998,18,27.20,5,19078.724090,0,1,0,1,1,0,...,1,0,0,0,1,0,1,0,2,3
999999,33,36.83,2,9834.871456,0,1,1,0,1,0,...,0,0,0,1,0,1,0,0,2,1

In [76]:
df_new=pd.concat([X_train,X_test],ignore_index=True)

In [77]:
df_new.shape

(1000000, 25)

In [78]:
df_new

,age,bmi,children,charges,gender_female,gender_male,smoker_no,smoker_yes,region_northeast,region_northwest,...,exercise_frequency_Rarely,occupation_Blue collar,occupation_Student,occupation_Unemployed,occupation_White collar,coverage_level_Basic,coverage_level_Premium,coverage_level_Standard,medical_history,family_medical_history
0,25,25.38,2,20390.899218,1,0,0,1,0,1,...,0,0,0,0,1,0,1,0,3,2
1,49,38.21,3,19268.309838,0,1,0,1,0,1,...,1,0,0,0,1,0,0,1,3,2
2,64,20.12,2,9563.655011,1,0,1,0,1,0,...,0,1,0,0,0,1,0,0,2,3
3,53,30.51,4,15845.293730,0,1,1,0,0,0,...,1,0,1,0,0,0,0,1,1,2
4,45,39.68,1,14892.145930,1,0,1,0,0,1,...,0,1,0,0,0,0,1,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,28,42.72,4,18827.129496,1,0,0,1,1,0,...,1,0,0,0,1,0,1,0,2,1
999996,55,24.63,2,13222.812430,0,1,0,1,0,1,...,0,0,1,0,0,1,0,0,2,1
999997,48,41.52,4,15448.297951,0,1,0,1,0,0,...,1,0,0,0,1,1,0,0,2,3
999998,27,26.59,0,12097.604032,1,0,1,0,0,0,...,1,0,1,0,0,0,1,0,2,2
999999,33,48.12,5,12053.800190,1,0,1,0,1,0,...,1,0,0,1,0,0,0,1,3,3

In [79]:
df_new.to_csv('Data_Preprocessing.csv',index=False)

In [80]:
#pip install pymongo

In [81]:
#pip install tensorflow