In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('/Users/vallirajasekar/Desktop/Insurance_Charges_Calculation/Data/Data_Preprocessing.csv')

In [3]:
df.head()

,age,bmi,children,charges,gender_female,gender_male,smoker_no,smoker_yes,region_northeast,region_northwest,...,exercise_frequency_Rarely,occupation_Blue collar,occupation_Student,occupation_Unemployed,occupation_White collar,coverage_level_Basic,coverage_level_Premium,coverage_level_Standard,medical_history,family_medical_history
0,25,25.38,2,20390.899218,1,0,0,1,0,1,...,0,0,0,0,1,0,1,0,3,2
1,49,38.21,3,19268.309838,0,1,0,1,0,1,...,1,0,0,0,1,0,0,1,3,2
2,64,20.12,2,9563.655011,1,0,1,0,1,0,...,0,1,0,0,0,1,0,0,2,3
3,53,30.51,4,15845.293730,0,1,1,0,0,0,...,1,0,1,0,0,0,0,1,1,2
4,45,39.68,1,14892.145930,1,0,1,0,0,1,...,0,1,0,0,0,0,1,0,2,2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 25 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   age                              1000000 non-null  int64
 1   bmi                              1000000 non-null  float64
 2   children                         1000000 non-null  int64
 3   charges                          1000000 non-null  float64
 4   gender_female                    1000000 non-null  int64
 5   gender_male                      1000000 non-null  int64
 6   smoker_no                        1000000 non-null  int64
 7   smoker_yes                       1000000 non-null  int64
 8   region_northeast                 1000000 non-null  int64
 9   region_northwest                 1000000 non-null  int64
 10  region_southeast                 1000000 non-null  int64
 11  region_southwest                 1000000 non-null  int64
 12  exercise_frequency_Frequently    1000000 non-null  int64
 13  exercise_frequency_Never         1000000 non-null  int64
 14  exercise_frequency_Occasionally  1000000 non-null  int64
 15  exercise_frequency_Rarely        1000000 non-null  int64
 16  occupation_Blue collar           1000000 non-null  int64
 17  occupation_Student               1000000 non-null  int64
 18  occupation_Unemployed            1000000 non-null  int64
 19  occupation_White collar          1000000 non-null  int64
 20  coverage_level_Basic             1000000 non-null  int64
 21  coverage_level_Premium           1000000 non-null  int64
 22  coverage_level_Standard          1000000 non-null  int64
 23  medical_history                  1000000 non-null  int64
 24  family_medical_history           1000000 non-null  int64
dtypes: float64(2), int64(23)
memory usage: 190.7 MB

In [5]:
X=df.drop('charges',axis=1)
y=df['charges']

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.7,random_state=0)

In [8]:
X_test.reset_index(inplace=True)

In [9]:
X_train.reset_index(inplace=True)

In [10]:
X_train.drop('index',axis=1,inplace=True)

In [11]:
#X_test.reset_index(inplace=True)

In [12]:
X_test.drop('index',axis=1,inplace=True)

In [13]:
X_live=X_test[200000:]

In [14]:
y_live=y_test[200000:]

In [15]:
X_test=X_test[:200000]

In [16]:
y_test=y_test[:200000]

In [17]:
X_live.shape

(100000, 24)

In [18]:
X_train

,age,bmi,children,gender_female,gender_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,...,exercise_frequency_Rarely,occupation_Blue collar,occupation_Student,occupation_Unemployed,occupation_White collar,coverage_level_Basic,coverage_level_Premium,coverage_level_Standard,medical_history,family_medical_history
0,21,28.54,1,0,1,0,1,0,1,0,...,0,0,0,0,1,0,1,0,3,2
1,25,24.83,1,0,1,1,0,0,1,0,...,0,0,0,1,0,1,0,0,2,3
2,44,22.78,1,0,1,0,1,1,0,0,...,1,0,0,1,0,0,0,1,2,1
3,46,23.03,0,1,0,1,0,0,1,0,...,1,0,0,1,0,0,0,1,2,1
4,65,47.87,2,0,1,1,0,1,0,0,...,1,0,1,0,0,0,0,1,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,50,21.26,5,1,0,0,1,0,0,1,...,0,0,0,0,1,0,0,1,2,3
699996,43,20.99,0,0,1,1,0,1,0,0,...,1,0,1,0,0,0,0,1,2,2
699997,25,42.37,2,1,0,1,0,0,0,1,...,0,1,0,0,0,1,0,0,2,2
699998,25,28.75,3,0,1,1,0,0,0,1,...,0,0,0,0,1,0,0,1,2,2
699999,28,43.42,1,0,1,1,0,0,0,0,...,0,0,0,0,1,0,0,1,2,2

In [19]:
#X_live=X_test.iloc[2000:30000]

In [20]:
print(f'The shape of X_train:{X_train.shape},X_test:{X_test.shape},y_train:{y_train.shape},y_test:{y_test.shape},X_live:{X_live.shape},y_live:{y_live.shape}')

The shape of X_train:(700000, 24),X_test:(200000, 24),y_train:(700000,),y_test:(200000,),X_live:(100000, 24),y_live:(100000,)

In [21]:
X_live

,age,bmi,children,gender_female,gender_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,...,exercise_frequency_Rarely,occupation_Blue collar,occupation_Student,occupation_Unemployed,occupation_White collar,coverage_level_Basic,coverage_level_Premium,coverage_level_Standard,medical_history,family_medical_history
200000,40,29.30,4,1,0,1,0,0,1,0,...,0,0,0,0,1,0,1,0,3,2
200001,49,19.38,4,1,0,1,0,0,0,0,...,0,0,1,0,0,0,0,1,3,2
200002,39,42.62,4,0,1,1,0,1,0,0,...,0,0,0,0,1,0,0,1,3,3
200003,52,41.56,3,0,1,0,1,0,0,1,...,1,0,1,0,0,0,1,0,2,2
200004,21,48.31,2,1,0,0,1,1,0,0,...,0,0,0,0,1,0,0,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,52,37.92,0,0,1,0,1,1,0,0,...,0,0,0,1,0,0,1,0,2,1
299996,55,49.56,3,0,1,0,1,0,1,0,...,0,0,0,1,0,0,1,0,2,3
299997,49,24.76,2,0,1,0,1,0,0,0,...,0,1,0,0,0,0,1,0,3,3
299998,30,22.20,2,0,1,0,1,0,1,0,...,1,1,0,0,0,1,0,0,3,3
299999,53,45.92,1,0,1,1,0,0,1,0,...,0,0,0,0,1,0,0,1,3,1

In [22]:
#pip install catboost==1.2.  # Replace with the desired version

In [23]:
#pip install xgboost

In [24]:
#from catboost import CatBoostRegressor
from xgboost import XGBRegressor
from sklearn.svm import SVR
from sklearn.ensemble import GradientBoostingRegressor

In [25]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.ensemble import RandomForestRegressor
#import xgboost as xg 
from sklearn.ensemble import AdaBoostRegressor

#from catboost import CatBoostRegressor
from xgboost import XGBRegressor
from sklearn.svm import SVR
from sklearn.ensemble import GradientBoostingRegressor

def model_building(X_train, y_train):
    model_6 = SVR()
    model_6.fit(X_train, y_train)
    print(f'The SVR score is {model_6.score(X_train, y_train)}')

    model_7 = GradientBoostingRegressor()
    model_7.fit(X_train, y_train)
    print(f'The GradientBoostingRegressor score is {model_7.score(X_train, y_train)}')

    
    model_8 = XGBRegressor()
    model_8.fit(X_train, y_train)
    print(f'The XGBRegressor score is {model_8.score(X_train, y_train)}')
    
    model_9 = MLPRegressor(random_state=42)
    model_9.fit(X_train, y_train)
    print(f'The MLPRegressor score is {model_9.score(X_train, y_train)}')


# Example usage:
# model_building(X_train, y_train)

model_6 = SVR()
model_6.fit(X_train, y_train)
print(f'The SVR score is {model_6.score(X_train, y_train)}')

In [26]:
model_8 = XGBRegressor()
model_8.fit(X_train, y_train)
print(f'The XGBRegressor score is {model_8.score(X_train, y_train)}')

The XGBRegressor score is 0.8217895841144901

In [27]:
model_8.score(X_test, y_test)

0.8171797919660874

In [28]:
model_7 = GradientBoostingRegressor()
model_7.fit(X_train, y_train)
print(f'The GradientBoostingRegressor score is {model_7.score(X_train, y_train)}')

The GradientBoostingRegressor score is 0.8158008110399241

In [29]:
model_7.score(X_test, y_test)

0.8149474544826119

In [ ]:
y_pred=model_7.predict

In [31]:
#from sklearn.neural_network import MLPRegressor

In [32]:
model_9 = MLPRegressor(random_state=42)
model_9.fit(X_train, y_train)
print(f'The MLPRegressor score is {model_9.score(X_train, y_train)}')

The MLPRegressor score is 0.6984566368705485

In [33]:
model_9.score(X_test, y_test)

0.6981515937726397

In [35]:
import pickle

In [36]:
with open('XGBRegressor.pkl', 'wb') as file:
    pickle.dump(model_8, file)

In [37]:
with open('GradientBoostingRegressor.pkl', 'wb') as file:
    pickle.dump(model_7, file)

In [40]:
from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_test, y_pred)

NameError: name 'y_pred' is not defined